 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 942px;
}

.u-section-1 .u-shape-1 {
  height: 728px;
  width: 580px;
  margin: 141px auto 0 175px;
}

.u-section-1 .u-image-1 {
  width: 673px;
  height: 846px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: -839px auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 585px;
  min-height: 529px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -636px 0 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 28px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 300;
  margin: 0 2px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  margin: 30px auto 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3rem;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 29px auto 0 82px;
}

.u-section-1 .u-icon-4 {
  width: 32px;
  height: 32px;
  margin: -164px auto 0 38px;
  padding: 0;
}

.u-section-1 .u-icon-5 {
  width: 32px;
  height: 32px;
  margin: 19px auto 0 38px;
  padding: 0;
}

.u-section-1 .u-icon-6 {
  width: 32px;
  height: 32px;
  margin: 29px auto 20px 38px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 926px;
  }

  .u-section-1 .u-shape-1 {
    width: 487px;
    margin-top: 144px;
  }

  .u-section-1 .u-image-1 {
    width: 586px;
  }

  .u-section-1 .u-group-1 {
    width: 470px;
    min-height: 527px;
    height: auto;
  }

  .u-section-1 .u-btn-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1024px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 146px;
  }

  .u-section-1 .u-group-1 {
    min-height: 513px;
    margin-top: -423px;
    margin-bottom: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1013px;
  }

  .u-section-1 .u-shape-1 {
    height: 673px;
    margin-top: 196px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 470px;
    height: 606px;
  }

  .u-section-1 .u-group-1 {
    min-height: 480px;
    margin-top: -153px;
    margin-bottom: 50px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 858px;
  }

  .u-section-1 .u-shape-1 {
    height: 627px;
    margin-top: 186px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    width: 298px;
    height: 411px;
    margin-top: -793px;
  }

  .u-section-1 .u-group-1 {
    width: 298px;
    min-height: 337px;
    --animation-custom_in-translate_x: -200px;
    margin: 0 auto 60px 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 21px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 28px;
    margin-right: 12px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-4 {
    width: 23px;
    height: 23px;
    margin-top: -112px;
    margin-left: 9px;
  }

  .u-section-1 .u-icon-5 {
    width: 24px;
    height: 24px;
    margin-top: 11px;
    margin-left: 10px;
  }

  .u-section-1 .u-icon-6 {
    width: 23px;
    height: 23px;
    margin-top: 12px;
    margin-left: 9px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 630px;
}

.u-section-2 .u-image-1 {
  width: 154px;
  height: 147px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 36px auto 0;
}

.u-section-2 .u-text-1 {
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 456px;
  margin: 12px auto 0;
}

.u-section-2 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 415px;
  margin: 31px auto 0;
}

.u-section-2 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 406px;
  margin: 31px auto 18px;
}

.u-section-2 .u-list-icon-1 {
  color: rgb(255, 167, 84) !important;
}

.u-section-2 .u-list-icon-2 {
  color: rgb(255, 167, 84) !important;
}

.u-section-2 .u-list-icon-3 {
  color: rgb(255, 167, 84) !important;
}

.u-section-2 .u-list-icon-4 {
  color: rgb(255, 167, 84) !important;
}

.u-section-2 .u-list-icon-5 {
  color: rgb(255, 167, 84) !important;
}

.u-section-2 .u-list-icon-6 {
  color: rgb(255, 167, 84) !important;
}

.u-section-2 .u-list-icon-7 {
  color: rgb(255, 167, 84) !important;
}

.u-section-2 .u-list-icon-8 {
  color: rgb(255, 167, 84) !important;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-top: 26px;
  }

  .u-section-2 .u-text-3 {
    width: 456px;
    margin-top: 28px;
    margin-bottom: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-top: 23px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 27px;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 38px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-3 {
    width: 413px;
    margin-top: 38px;
    margin-bottom: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-2 .u-image-1 {
    --animation-custom_in-translate_x: 0px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 27px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin: 28px 0 21px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 815px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  margin: 50px 65px 0;
}

.u-section-3 .u-list-1 {
  margin-top: 138px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(25% - 13.5px) calc(25% - 13.5px) calc(25% - 13.5px) calc(25% - 13.5px);
  min-height: 482px;
  grid-gap: 18px 18px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-3 .u-image-1 {
  width: 164px;
  height: 164px;
  background-image: url("images/mantenimiento-pozos-a-tierra.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  margin: -50px auto 0;
}

.u-section-3 .u-text-2 {
  text-transform: none;
  margin: 20px auto 0;
}

.u-section-3 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-3 .u-image-2 {
  width: 164px;
  height: 164px;
  background-image: url("images/instalacion-de-luminarias-departamento.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  margin: -50px auto 0;
}

.u-section-3 .u-text-3 {
  text-transform: none;
  margin: 20px auto 0;
}

.u-section-3 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 30px 30px;
}

.u-section-3 .u-image-3 {
  width: 164px;
  height: 164px;
  background-image: url("images/instalacion-aire-acondicionado.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  margin: -50px auto 0;
}

.u-section-3 .u-text-4 {
  text-transform: none;
  margin: 20px auto 0;
}

.u-section-3 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 30px 30px;
}

.u-section-3 .u-image-4 {
  width: 164px;
  height: 164px;
  background-image: url("images/Capturadepantalla2023-01-16alas10.25.23.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  margin: -50px auto 0;
}

.u-section-3 .u-text-5 {
  text-transform: none;
  margin: 20px auto 0;
}

.u-section-3 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 30px 30px;
}

.u-section-3 .u-image-5 {
  width: 164px;
  height: 164px;
  background-image: url("images/WhatsAppImage2023-01-13at14.00.14.jpeg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  margin: -50px auto 0;
}

.u-section-3 .u-text-6 {
  text-transform: none;
  margin: 20px auto 0;
}

.u-section-3 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 30px 30px;
}

.u-section-3 .u-image-6 {
  width: 164px;
  height: 164px;
  background-image: url("images/WhatsAppImage2023-01-13at13.59.40.jpeg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  margin: -50px auto 0;
}

.u-section-3 .u-text-7 {
  text-transform: none;
  margin: 20px auto 0;
}

.u-section-3 .u-list-item-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-7 {
  padding: 0 30px 30px;
}

.u-section-3 .u-image-7 {
  width: 164px;
  height: 164px;
  background-image: url("images/Capturadepantalla2023-01-16alas10.25.03.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  margin: -50px auto 0;
}

.u-section-3 .u-text-8 {
  text-transform: none;
  margin: 20px auto 0;
}

.u-section-3 .u-list-item-8 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-8 {
  padding: 0 30px 30px;
}

.u-section-3 .u-image-8 {
  width: 164px;
  height: 164px;
  background-image: url("images/Capturadepantalla2023-01-16alas10.24.17.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  margin: -50px auto 0;
}

.u-section-3 .u-text-9 {
  text-transform: none;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 743px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 13.5px));
    min-height: 397px;
  }

  .u-section-3 .u-list-item-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1527px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 109px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9px));
    min-height: 1255px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 60px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 60px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 60px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 60px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-bottom: 60px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-bottom: 60px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-bottom: 60px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1395px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 9px) calc(50% - 9px);
    min-height: 1071px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2152px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 35px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1902px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 439px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  width: 757px;
  margin: 100px auto 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 167px;
  grid-gap: 10px 10px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 23px 29px;
}

.u-section-4 .u-icon-1 {
  height: 124px;
  width: 124px;
  text-shadow: 0 0px 0 rgba(0,0,0,0);
  box-shadow: 0px 5px 20px 0 rgba(0,0,0,0.2);
  background-image: none;
  margin: -56px auto 0;
  padding: 29px;
}

.u-section-4 .u-text-1 {
  letter-spacing: 1px;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
  margin: 30px auto 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 23px 29px;
}

.u-section-4 .u-icon-2 {
  height: 124px;
  width: 124px;
  text-shadow: 0 0px 0 rgba(0,0,0,0);
  box-shadow: 0px 5px 20px 0 rgba(0,0,0,0.2);
  background-image: none;
  margin: -56px auto 0;
  padding: 29px;
}

.u-section-4 .u-text-2 {
  letter-spacing: 1px;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
  margin: 30px auto 0;
}

.u-section-4 .u-text-3 {
  width: 757px;
  margin: 30px auto 46px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    width: 502px;
    margin-top: 70px;
    margin-bottom: 50px;
  }

  .u-section-4 .u-text-3 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-list-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin: 43px 0 60px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 711px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 95px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 391px;
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 57px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 57px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 38px;
    margin-bottom: 58px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 805px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 90px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 411px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 66px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 66px;
  }

  .u-section-4 .u-text-3 {
    margin-bottom: 50px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 125px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 95px;
}

.u-section-5 .u-container-layout-1 {
  padding: 7px 30px 2px;
}

.u-section-5 .u-image-1 {
  width: 48px;
  height: 46px;
  margin: 25px auto 0 292px;
}

.u-section-5 .u-text-1 {
  background-image: none;
  width: 419px;
  margin: -49px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 132px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 9px;
    margin-bottom: 27px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 96px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 5px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 20px;
    margin-left: 191px;
  }

  .u-section-5 .u-text-1 {
    width: 435px;
    margin-top: -46px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 118px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-5 .u-image-1 {
    margin-left: 88px;
  }

  .u-section-5 .u-text-1 {
    width: 401px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 150px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 25px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 116px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-image-1 {
    margin-top: 28px;
    margin-left: 24px;
  }

  .u-section-5 .u-text-1 {
    width: 422px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 110px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 92px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-image-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 33px;
    margin-left: 20px;
  }

  .u-section-5 .u-text-1 {
    width: 320px;
    margin-top: -39px;
    margin-right: 13px;
    margin-left: 30px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 462px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 13px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 389px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  margin: 0 0 0 20px;
}

.u-section-6 .u-form-1 {
  height: 413px;
  margin: 0 0 0 20px;
}

.u-section-6 .u-form-group-2 {
  margin-left: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 389px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 452px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 321px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
    margin-left: 0;
  }

  .u-section-6 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 321px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 246px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1028px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: 54px;
    position: relative;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 400px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 11px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 554px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 781px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 362px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 349px;
  }
}